/*
FUENTES:
Open Sans
Rubik
*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #54585a;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  color: #099d8d;
  margin: 0;
  margin-top: 30px;
}

h2 {
  font-size: 20px;
  margin: 0;
}
h3 {
  margin: 0;
  font-size: 22px;
  line-height: 2.05;
}
p {
  margin: 0;
}
.container {
  margin: 0 15px;
}
a.anchor {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;
}

/*HEADER*/
.headerwrap{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.top{
  margin: auto;
  display: flex;
  flex-direction: column;
  }
/* name & logo */

.name {
  background-color:rgba(9, 157, 141, 0.95);
  height: 60px;
  width:100%;    
  color: white;
  text-align: center;
  line-height: 60px;
}
h1{
  padding: 0;
  margin: 0;
}

/* menu */

.nav{
  background-color:rgba(20, 217, 196, 0.95);
  height: 45px;
  margin: 0;
}

.menu{
  margin: 0;
  padding: 0;
  height: 45px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  list-style: none;
  align-items: center;
}

.menu li a{
  text-decoration: none;
  color:white;
}

/* MEDIAQUERIS */
@media all and (min-width:768px){

.top{
  flex-direction: row;
  height: 60px;
}
.name{
  width: 50%;
}
.nav{
  width: 50%;   
  background-color:rgba(9, 157, 141, 0.95);
  height: 60px;
}
.menu{
  height: 60px;
  align-items: center;
}
}
/*HEADER*/

/*hero*/
.hero{
  height: 378px;
  background-image: url(../img/Adalabers-dracarys.jpg);
  background-size: cover;
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}
.motto{
  display:block;
  position: relative;
  top: 60px;
  margin:0 auto;
  padding: 15px;
  width: 260px;
  background-color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.39;
  color: black;
  font-family: 'Open Sans', sans-serif;  
}

/* main */
.page{
  margin: 0;
  margin-top: 30px;
}
/*content - strenghts and weakness */
.team {
  background-color: #ffffff;
  margin-top: 80px;
}
.team h2{
  height: 45px;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.88;
  margin: auto;
  color: #14d9c4;
}

.blocks  {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.08);
}
.blocks h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.blocks-strenghts {
  margin-top: 30px;
  margin-bottom: 30px;
}
.blocks-weakness {
  margin-bottom: 45px;
}
.spike {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  transform: rotate(45deg) translate(13px,9px);
  margin: auto;
  
}
h3 {
  display: flex;
  justify-content: center;
  font-style: 'Rubik';
  font-size: 22px;
  
  
  color: #099d8d;
  
}
/*content - articles/

/*article*/
.profiles {
  font-weight: 500;
  
}
.profile h2 {
  display: block;
  margin: 0 0 10px 0;
}
.img-profile {
  width: 180px;
  height: 180px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
  align-content: center;  
  margin: 30px 0 15px 0;
}
.social-icons {
  
}
.social {
  color: #099d8d;
  display: flex;
  justify-content: center;
  font-size: 16px;
  list-style: none;
  padding-inline-start: 0px;
  
}
.social a {
  text-decoration: none;
  color: #099d8d;
}
.social-icon {
  display: inline-block;
  line-height: 1.8;
  padding: 6px;
}
.mini {
  width: 2px;
  height: 2px;
  background-color: gray;
  position: relative;
  top: 12px;
}



/*footer */
.footer{
  display:flex;
  flex-direction: column;
  width: 100%;
  border-top:solid 1px lightgrey;
  justify-content:center;
  align-items: center;
  margin-top: 45px;
}

.dracarys{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: center;
  color:#b8b8b9;
  margin: 0;
  padding-top: 30px;
}

.who-we-are{
  display: block;
  widows: 114px;;
  opacity: 0.75;
  font-size:14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: right;
  text-align:center;
  color: #54585a;
  margin-top: 20px;
  margin-bottom: 30px;  
}
.who-we-are a {
  text-decoration: none;
  color: #54585a;
  font-weight: 700;
}
.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.logo{
  width: 115.9px;
  height:auto;
  margin-top:15px;
  margin-bottom: 45px;
} 